html, body {
    background-color: blue;
    color: white;
    font-family: Helvetica;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    font-size: 1.3rem;
    margin-right: 10px;
    padding: 10px;
    background-color: beige;
}